#BIG{
    margin: 0 auto;
    width: fit-content;
    border: 2px solid black;
}

.mid{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.small{
    border: 2px solid black;
    height: 50px;
    width: 50px;
}

.darker{
    filter: brightness(85%);
}

#points{
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}